[submodule ".registry"]
	path = .registry
	url = https://github.com/ats/ats.r-universe.dev
	branch = HEAD
[submodule "pelotonR"]
	path = pelotonR
	url = https://github.com/ats/pelotonR
	branch = master
